/*.App {
  text-align: center;
}

.form {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content : center;
}

.form input {
    width: 300px;
    height: 60px;
    margin: 10px;
}*/


    html

{
    scroll-behavior: smooth;
}

body {
    background-color: whitesmoke;
}

header {
    background-color: #264a6e;
    padding: 0;
    border: 0;
    margin: -10px;
    margin-left: 15% -10px;
}

    header div {
        display: flex;
        margin-left: 25%;
        margin-right: auto;
    }

    header span {
        padding-left: 10%;
        padding-top: 1%;
        padding-bottom: 10px;
        color: white;
    }


.button1 {
    padding: 2px 45px;
    position: relative;
    top: -5px;
    margin-bottom: 3px;
    border: none;
    text-decoration: none;
    background-color: white;
    border-radius: 4px;
}

.button2 {
    background-color: #f44336; /* Red */
    border: none;
    color: white;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 10px 24px;
    border-radius: 4px;
}

.button3 {
    background-color: #f44336; /* Red */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 10px 24px;
    border-radius: 4px;
    margin-left: 5%;
    margin-top: 2%;
    height: 40%;
}

h1 {
    color: #26c4ec;
    font-weight: normal;
    font-size: 60px;
    font-family: 'CodeBold';
    text-shadow: 1px 1px 0px 0px;
}

.logo {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 20%;
}

/* permet de supprimer les marges et le remplissage de la barre nav*/
ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    width: 15%; /*largeur de la page*/
    background-color: #e5e7eb;
    height: 100%; /* toute la page en hauteur */
    position: fixed; /* barre fixe qui ne bougera pas pendant le scroll */
    overflow: auto; /* si la barre de navigation a trop de contenu on peut scroller pour le voir */
}

li {
    margin-left: 10%;
}

    li img {
        margin-right: 10%;
        width: 8%;
    }

    /*permet de mettre les cellules de la barre de navigation
sous forme verticale*/
    li a {
        display: block;
        color: #254b6a;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
        padding: 8%;
        text-decoration: none;
        text-align: left;
        text-overflow: !important;
        font-family: "Quicksand", sans-serif;
    }

        /*change la couleur quand la souris passe dessus*/
        li a:hover {
            text-decoration: underline;
        }

.deco {
    margin-top: 140%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
}

.page {
    margin-left: 130px; /*position du texte par rapport à la page*/
    text-align: center; /*texte centré sur la page*/
}

footer {
    display: flex;
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 14%;
    background: white;
    margin-bottom: 10% -10px;
    margin-left: 14.6%;
}

    footer div {
        display: block;
        margin-left: 10%;
    }

    footer span {
        padding-left: 7%;
        margin-bottom: 7%;
    }

.buttoncircle {
    border-radius: 50%;
    margin-top: 3%;
    background-color: #254b6a;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    padding: 10px 10px;
    width: 5%;
}

.button4 {
    border-radius: 8px;
    padding: 0px 400px;
    margin-left: -1%;
    background-color: #254b6a;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 9px;
}

.start_of_line {
    margin-left: -7%;
    margin-top: 1%;
    margin-right: 80%;
}

